h1, h2, h3, h4 {
  font-size: 150%;
}

body {
  padding: .5em 1em;
}

.header {
  text-align: right;
}

div[ng-repeat] {
  display: inline-block;
}

.profile > img {
  width: 80px;
  height: 80px;
}

.profile {
  margin: 3px;
  width: 120px;
  height: 120px;
  display: inline-block;
  border: 1px solid black;
  -webkit-border-radius: 3px;
  padding: 5px;
  text-align: center;
  overflow: hidden;
  background-color: #EEE;
}

.profile>h1 {
  margin: 0;
  padding: 0;
  font-size: 11px;
}

.zippy {
  border: 1px solid black;
  display: inline-block;
  width: 250px;
}
.zippy > .body {
  -webkit-transition: line-height,padding .3s ease;
  overflow: hidden;
}

.zippy.opened > .title:before { content: '▼ '; }
.zippy.opened > .body { line-height: 1em; padding: .25em .25em; }

.zippy.closed > .title:before { content: '► '; }
.zippy.closed > .body { line-height: 0; padding: 0 .25em;}
.zippy > .title {
  background-color: black;
  color: white;
  padding: .1em .3em;
  cursor: pointer;
}
.zippy > .body {
  padding: .1em .3em;
}
