<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Directive Demo</title>
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/app.css"/>
  <script src="lib/md5.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/bootstrap.js"></script>
</head>
<body ng-controller="Demo">
  Name: <input ng-model="name">
  <hr>

  <ul>
    <li ng-repeat="i in [1, 2, 3]">
      <div demo-greet="name"></div>
      <tt>leak={{leak}}</tt>
    </li>
  </ul>

  <hr>
  <pre>name={{name}}
leak={{leak}}</pre>
</body>
</html>

<!--
- Show the controller
- Show difference between compile and link
- Explain restrict / Directive invocation
- Show how directors can leak state
- Show how scope encapsulates state
- Show how to watch an expression
- Show how to change the state
- Show Dependency Injection
-->
